html{
    font-size:16px;
    font-family:"Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    height:100%;
}
@media (max-width:320px){
    html{font-size:12px;}
}
@media(min-width:321px) and (max-width:360px){
    html{font-size:14px;}
}
@media (min-width:360px)and (max-width:400px){
    html{font-size:16px;}
}
@media (min-width:401px)and (max-width:440px){
    html{font-size:18px;}
}
@media (min-width:441px)and (max-width:600px){
    html{font-size:20px;}
}
@media (min-width:601px)and (max-width:640px){
    html{font-size:22px;}
}
@media (min-width:641px){
    html{font-size:28px;}
}
body,.school-index{height:100%;}
.school-index{width:750px;margin:0 auto;position:relative;}
@media(max-width:750px){.school-index{width:100%;}}
.school-name{font-size:1.2857rem;text-align:center;height:3.21rem;line-height:3.21rem;color:#fcfcfc;background:#00ba9c;}
.school-list{display:-webkit-flex;display:flex;flex-direction:row;flex-wrap:wrap;-webkit-flex-wrap:wrap;justify-content:flex-start;}
.school-list li{width:25%;margin-top:1.07rem;}
.school-list li span {display:block;margin-top:0.5rem;text-align:center;color:#333;font-size:1rem;}
.school-list li a{display:block;}
.school-list li img{display:block;max-width:100%;margin:0 auto;}
@media(max-width:640px){.school-list li img{max-width:60%}}
footer{position:absolute;bottom:0;width:100%;left:0;padding:15px 0 12px;background:#dcdcdc;}
footer .f-list{display:flex;display:-webkit-flex;flex-direction:row;justify-content:space-between}
footer .f-list li{width:25%;}
footer .f-list a{display:block;color:#333;font-size:0.714rem;text-align:center}
footer .f-list a i{display:block;margin:0 auto 8px;width:1.43rem;height:1.43rem;}
footer .f-list li:nth-child(1) i{background:url(../images/foot1.png) no-repeat 0 0;background-size:cover}
footer .f-list li:nth-child(2) i{background:url(../images/foot2.png) no-repeat 0 0;background-size:cover}
footer .f-list li:nth-child(3) i{background:url(../images/foot3.png) no-repeat 0 0;background-size:cover}
footer .f-list li:nth-child(4) i{background:url(../images/foot4.png) no-repeat 0 0;background-size:cover}
footer .f-list a:hover,footer .f-list a:active{color:#00ba9c;}
footer .f-list li:nth-child(1) a:hover i{background:url(../images/foot1-1.png) no-repeat 0 0;background-size:cover}
footer .f-list li:nth-child(2) a:hover i{background:url(../images/foot2-1.png) no-repeat 0 0;background-size:cover}
footer .f-list li:nth-child(3) a:hover i{background:url(../images/foot3-1.png) no-repeat 0 0;background-size:cover}
footer .f-list li:nth-child(4) a:hover i{background:url(../images/foot4-1.png) no-repeat 0 0;background-size:cover}
