.compositionBg,.composition {
    background: #ffe396;
}

.comps-banner img {
    width: 100%;
    min-width: 1200px;
}

.composition-content {
    margin: 0 auto;
    width: 1200px;
}

.comps-profiles {
    padding: 18px 0 80px 140px;
    font-size: 16px;
    color: #a7670c;
    line-height: 180%;
    background: url(../images/comps-profiles.png) no-repeat;
    font-family: "Microsoft Yahei", "SimSun";
}

.profiles-title {
    width: 1000px;
    font-size: 18px;
    font-weight: normal;
}

.profiles-con {
    width: 1000px;
}

.comps-type {
    padding: 20px 50px;
    font-size: 0;
}

.comps-type-item {
    display: inline-block;
    font-size: 24px;
    color: #a7670c;
}

.comps-type {
    margin-top: 20px;
    padding: 0 50px;
}

.comps-type-item {
    float: left;
    width: 20%;
}
.comps-type-item a{
    display: block;
    margin: 0 20px;
    height:180px;
}
.comps-type-item img{
    display: block;
   width: 100%;
}

.comps-box{
    position: relative;
    margin-top: 100px;

}
.top-left-absolute{
    position: absolute;
    top:-48px;
    left:-72px;
    width:202px;
    height:96px;
    background: url(../images/composition-icon.png) no-repeat 0 -706px;
    z-index: 3;
}
.top-right-absolute{
    position: absolute;
    top:-40px;
    right:-48px;
    width:94px;
    height:62px;
    background: url(../images/composition-icon.png) no-repeat 0 -478px;
    z-index: 3;
}
.center-left-absolute{
    position: absolute;
    top:-70px;
    left:-300px;
    width:280px;
    height:230px;
    background: url(../images/composition-icon.png) no-repeat -321px -690px;
    z-index: 3;
}
.comps-box-title{
    position: absolute;
    z-index: 9;
    width:420px;
    height:130px;
    top:-60px;
    left:50%;
    margin-left: -210px;
    background: url(../images/composition-icon.png) no-repeat -182px 0;
    font-size: 0;
}
.comps-box-con{
    position: relative;
    padding: 30px 24px 90px;
    background: #fff6dc;
    -webkit-border-radius: 9px;
    -o-border-radius:9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;;
    border-radius: 9px;
}
.comps-box-con-bg{
    position: absolute;
    top:0;
    width: 100%;
    height:100%;
    left:0;
    -webkit-border-radius: 9px;
    -o-border-radius:9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;;
    border-radius: 9px;
    -ms-transform:rotate(-3deg); 	/* IE 9 */
    -moz-transform:rotate(-3deg); 	/* Firefox */
    -webkit-transform:rotate(-3deg); /* Safari 和 Chrome */
    -o-transform:rotate(-3deg);
    transform:rotate(-3deg);
    background: #fff6dc;
}
.comps-box-item{
    float: left;
    width:20%;
    margin-top: 60px;
}
.comps-media{
    display:block ;
    position: relative;
    margin: 0 22px;
}
.comps-media img{
    display: block;
    width:100%;
}
.comps-item-title{
    margin: 0 22px;
    height:40px;
    line-height: 40px;
    background: #fff;
    font-size: 14px;
    color: #a7670c;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.comps-box-item .icon-open{
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -30px;
    margin-left: -30px;
    height:60px;
    width:60px;
    background: url(../images/composition-icon.png) no-repeat 0 0;
}
.comps-download{
    display:block ;
    margin: 0 22px;
    background: #fff;
    overflow: hidden;
}
.comps-download .icon{
    display: block;
    margin: 10px auto 12px;
    width:102px;
    height:32px;
    background:url(../images/composition-icon.png) no-repeat -58px 0;
}

.comps-box-more{
    margin-top: 22px;
    padding-right: 50px;
    height:72px;
    line-height: 72px;
    font-size: 18px;
    color:#a7670c;
    text-align: right;
}

.comps-box-more .click-more{
    display: inline-block;
    width:134px;
    height:74px;
    font-size: 0;
    background: url(../images/composition-icon.png) no-repeat 5px -65px;
}

.comps-tricks .comps-box-title{
    background-position:-182px -145px;
}
.comps-tricks .comps-box-title{
    background-position:-182px -145px;
}
.comps-gold .comps-box-title{
    background-position: -182px -271px;
}
.comps-exam .comps-box-title{
    background-position:-182px -403px;
}
.comps-import .comps-box-title{
    width:490px;
    margin-left: -245px;
    background-position:-111px -550px;
}

.comps-footer img{
    width:100%;
    display: block;
    min-width: 1200px;
}

.goTop{
    position: fixed;
    right:10%;
    bottom:100px;
    width:120px;
    height:36px;
}
.goTop .topBtn{
    height:36px;
    width:36px;
    background: url(../images/composition-icon.png) 0 -334px no-repeat;
    cursor: pointer;
    -moz-transition: all 2s;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
        transition: all 0.4s;
}
.goTop:hover .topTxt{
    -moz-transition: all 2s;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 0.4s;
    display: block;
}
.goTop:hover .topBtn{
    background-position:0 -369px ;;
}
.goTop .topTxt{
    display: none;
    position: absolute;
    right: 0;
    top:0;
    width:92px;
    height: 36px;
    background: url(../images/composition-icon.png)4px -411px no-repeat;
}

.model{
    display: none;
}
.fixedBox{
    height:100%;
    overflow: hidden;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    background: rgba(0,0,0,0.8);
    z-index:99;
}

.mediaShow{
    position: relative;
    margin: 120px auto 0;
    width:683px;
    background: #000;
}
.fixedBox .close{
    position: absolute;
    top:-10px;
    right:-20px;
    width:40px;
    height:20px;
    line-height: 20px;
    font-size: 14px;
    background: #ff7f31;
    color:#fff;
    text-align: center;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;;
    border-radius: 4px;
    border: 1px solid #fff;
    cursor: pointer;
}

.openBtn{
    display: none;
    position: absolute;
    left:34px;
    bottom:64px;
    height:58px;
    width:58px;
    background: url(../images/composition-icon.png) 0 -154px no-repeat;
    cursor: pointer;
}
.mediaControl .timeLine{
    position: relative;
    height:4px;
    width:100%;
    background: #404040;
}

.mediaControl .hadShow{
    position: absolute;
    left:0;
    top:0;
    height:100%;
    background: #ee5a00;
}
.mediaControl .slideBtn{
    position: absolute;
    height:6px;
    width:20px;
    top:-2px;
    left:0;
    background: #fff;
    border:1px solid #b4b4b0;
    cursor: pointer;
}
.mediaControl .showCurrentTime{
    display: none;
    position: absolute;
    top:-24px;
    left:0;
    width:44px;
    height: 24px;
    line-height: 22px;
    background: url(../images/composition-icon.png) 0 -221px no-repeat;
    color:#fff;
    font-size: 14px;
    text-align: center;
}
.mediaControl:hover .showCurrentTime{
    display: block;
}
.controlTool{
    padding: 8px 20px 8px 28px;
    background: #000;
}
.controlBtnLeft{
  float: left;
}
.openPause{
    float: left;
    padding: 0 16px;
    height:14px;
    border:1px solid #fff;
    border-bottom: 0;
    border-top: 0;
}
.openPauseBtn{
    display:block;
    height:16px;
    line-height: 16px;
    width: 16px;
    background: url(../images/composition-icon.png) 4px -263px no-repeat;
    cursor: pointer;
}
.openPauseBg{
    background-position:-15px -263px ;
}

.controlBtnLeft .timeShow{
    float: left;
    margin-left: 14px;
    font-size: 12px;
    color:#fff;
}

.controlBtnRight{
float: right;
}
.controlBtnRight .volumeBox{
    float: left;
    padding-top: 5px;
    height:14px;
}
.controlBtnRight .maxVolume{
    margin-top: 4px;
    float: left;
    position: relative;
    width:70px;
    height:4px;
    background: #333;
}
.controlBtnRight .currentVolume{
    position: absolute;
    left:0;
    top:0;
    height:4px;
    width:50%;
    background: #ee5a00;
}
.volumeBtn{
    position: absolute;
    left:0;
    top:-2px;
    height:8px;
    width:8px;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
}
.volumeStatic{
    width:14px;
    height:14px;
    float: left;
    cursor: pointer;
    background: url(../images/composition-icon.png) no-repeat 0 -287px;
    text-align: center;
    font-size: 20px;
    line-height: 14px;
    color: #fff;
}
.controlBtnRight .entireBtn{
    float: right;
    margin-left: 30px;
    height:16px;
    width:16px;
    background: url(../images/composition-icon.png) no-repeat 0 -306px;
    cursor: pointer;
}

.mediaShow .popWindow{
    display: none;
    width:290px;
    position: absolute;
    top:20%;
    left:50%;
    margin-left: -145px;
    padding: 26px 0;
    background: rgba(51,51,51,0.9);
}

.mediaShow .tipText{
    padding: 0 30px;
    text-align: center;
    line-height: 170%;
    font-size: 20px;
    color:#fff;
}

.mediaShow .linkBtn{
    display: block;
    margin: 22px auto 0;
    width:106px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    background: #ff7f31;
    color:#fff;
    font-size: 22px;
}































