address,caption,cite,code,dfn,em,var,i {font-weight:normal; font-style:normal;}
a, a:link, a:visited, a:hover, a:active{text-decoration:none;}
*{font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif}
.left{ float:left;}
.lefttype{float:left; width:100px; text-align:right;}
.leftques{float:left;}
.right{ float:right;}
.size12{font-size:12px;}
.size16{font-size:16px;}
.overh{ overflow: hidden;}
.w_670 { width: 648px;}
.w_850 { width:880px;}
html,body{ width:100%;}
.pink { color: #ff889d;}
#header{width:100%;min-width:1000px;clear:left;margin:0 auto;}
#header .top_a{ height:35px;background:url(http://www.zxxk.com/images/top_bg.jpg) repeat-x;font-size:12px;}
#header .top_w{width:1200px;margin:0 auto; }
#header .top_a .left a{background-image:url(http://www.zxxk.com/images/top_logo.jpg);display:block;float:left;height:35px;width:220px;}
#header .top_a ul li{position:relative;float:left;line-height:35px;border-left:1px solid #e1e1e1;z-index:2; }
#header .top_a ul li.bor0{border: 0px;}
#header .top_a ul li a{position:relative;display:block;padding:0 15px;color:#999;}
#header .top_a ul li a:hover{ color:#00a2e6;}
#header .top_a ul li ul{position:absolute;display:none;top:35px;left:0;padding:5px;width:80px;border:1px solid #e1e1e1;border-top:0;background-color:#fff;}
#header .top_a ul li:hover ul{display:block;}
#header .top_a ul li ul li a{width:80px;color:#999;height:35px;}
#header .top_a ul li ul li a:hover{background-color:#666;color:#fff}
#header .top_a .group{display:block;padding-left:25px;color:#999;background:url(http://www.zxxk.com/skins/newdefault/images/top_group.gif) no-repeat 10px 10px;}
/*登录后用户名点击*/
#header .top_a ul li.user{ position:relative;z-index:500;}
#header .top_a ul li a.top_user{width:94px; height:35px;word-wrap: break-word;table-layout: fixed;word-break:break-all;overflow:hidden;background:url(../Image/icon.gif) no-repeat -112px -70px; z-index:501;border:0px;padding:0px;padding-right:20px;text-indent:0.7em;}
#header .top_a ul li a.top_user2{ background-position:-112px -110px;}
#header .top_a ul li .top_userlist{padding:20px 10px; width:230px;line-height:20px; border:1px solid #c9c9c9; background-color:#ffffff;position:absolute; display:none; top:31px; right:0;z-index: 500;}
#header .top_a ul li .top_userlist .infor{border-bottom:1px #dcdcdc dashed;overflow: hidden;height:100px;}
#header .top_a ul li .top_userlist .infor img{display:block;border:1px #ededed solid;float:left;width:73px;height:73px;margin-top: 5px;}
#header .top_a ul li .top_userlist .infor .us{float:right;width:130px;}
#header .top_a ul li .top_userlist .infor .us p{display: block;clear: both;font-size: 12px;line-height: 22px;overflow:hidden;}
#header .top_a ul li .top_userlist .infor .us a.name{height:35px;line-height:35px;width:120px;word-wrap: break-word;table-layout: fixed;word-break:break-all;overflow:hidden;padding: 0px;font-size: 16px;}
#header .top_a ul li .top_userlist .btn{overflow:hidden;}
#header .top_a ul li .top_userlist .btn a{padding:0;display: block;width: 106px;height: 28px;text-align: center;line-height: 28px;background: #efefef;color: #464646;margin-top: 9px;}
#header .top_a ul li .top_userlist .btn a:hover{ filter:alpha(opacity=60); opacity:0.6;}
.scroll span {
    display: inline-block;
    line-height: 13px;
    margin: 2px 4px 0;}
.scroll{
    text-align: center;
    color: #999;
    background-color: #fff;
    position: absolute;
    top: 305px;
    left: 0;
    width: 100%;
}
.wrapper{width:1200px;margin: 0 auto;}
.logo{ float:left; width:204px; height:60px; background:url(../images/newlogo.jpg) no-repeat; text-indent:-9999px;}
.exam{ position:relative; margin:15px 0 10px; width:110px; height:38px; line-height:35px; z-index:400;}
.exam .exam1,.exam .exam2{ position:absolute; width:110px; background:url(../images/icon.gif) no-repeat 0 -70px; z-index:3;}
.exam .exam2{ background-position:0 -110px;}
.exam .cart{ padding-left:40px; line-height:38px; background:url(../images/icon.gif) no-repeat 5px 10px; cursor:pointer; z-index:1300;}
.exam .number{ position:absolute; top:-7px; left:5px; width:20px; font:12px/15px "Microsoft YaHei"; line-height:15px ; text-align:center; color:#fff; background-color:#f43c5c; z-index:3;}
.cart-list{ position:absolute;display: none; top:37px; right:0; padding:5px; width:280px; line-height:20px; border:1px solid #f43c5c; background-color:#fff; z-index:0;padding-bottom:20px;}
.cart-list p{ padding:0 5px; margin:5px; background-color:#e1f0f7;}


/*试题篮*/
.cart-list table{margin:0 auto;width:210px;}
.cart-list table tr td{height:25px;line-height:25px;overflow:hidden;}
.cart-list table tr td .cart-num{ float:left; margin-right:5px; width:80px; height:10px; border:1px solid #999; overflow:hidden;}
.cart-list table tr td .cart-num .bar{ display:block; height:10px;}
/*.cart-list table tr td .cart-del{ float:right; margin-top:5px; width:12px; height:12px; background:url(../images/icon.gif) no-repeat 0 -50px;}*/
.cart-list .deleteall,.cart-list .generate{ margin-top:10px; width:100px; height:30px; font:14px/30px; text-align:center; color:#999; border:none; background-color:#fff;margin-left:20px; cursor:pointer;}
.cart-list .generate{ color:#fff; background-color:#f43c5c; cursor:pointer;}
.cart-list table tr td a.emptyquestype{display:block;float:right; margin-top:5px; width:12px; height:12px; background:url(../images/newicon.gif) no-repeat 0 -50px;}
.cart-list table tr td span.bilibox{display:inline-block;float:left; margin-right:5px; width:80px; height:10px; border:1px solid #999; overflow:hidden;}
.cart-list table tr td span.bilibg{display:inline-block;width:1px;height:10px;background:#f43c5c;}
.subnav{width:100%; margin-bottom:10px; height:45px; background-color:#00a2e6;}
.subnav .menu { position:relative; width:200px; height:45px; background:url(../images/icon.gif) no-repeat 0 -160px; cursor:pointer; z-index:300;}
.menu .menu-title{ padding-left:15px; color:#fff;font-size:16px; line-height:45px;}
.subnav .menu .submenu{ position:absolute; top:45px; left:0; display:none; padding:0 3px; width:192px; height:363px; border:1px solid #dcdcdc; background-color:#f9f9f9;z-index:1000;}
.submenu .junior{ height:135px; border-bottom:1px solid #dcdcdc; position:absolute; top:60px; left:0px; width:100%;}
.submenu .senior{ height:135px; border-bottom:1px solid #dcdcdc; position:absolute; top:197px; left:0px; width:100%;}
.submenu .primary{height:60px; border-bottom:1px solid #dcdcdc; position:absolute; top:0px;left:0px; width:100%;}
.submenu  ul li{ display:block; float:left; margin:0 10px 5px 10px; width:40px;}
.submenu  h2{ padding:0 10px; font-weight:bold; font-size:16px; line-height:32px;}
.submenu .junior,.submenu .junior ul li{ color:#008db2;}
.submenu .junior ul li:hover{ color:#fff; background-color:#008db2;}
.submenu .senior,.submenu .senior ul li{ color:#f43c5c;}
.submenu .senior ul li:hover{ color:#fff; background-color:#f43c5c;}
.submenu .primary,.submenu .primary ul li{ color:#33CC4C;}
.submenu .primary ul li:hover{ color:#fff; background-color:#33CC4C;}
.submenu .sum{ text-align:center; color:#999; background-color:#fff;}
.subnav li{ position:relative; float:left; z-index:300;}
.subnav li a{ position:relative; display:block; height:45px; width:96px; text-align:center; font-size:15px; line-height:45px; color:#fff;}
.subnav li:hover { background-color:#0079ac;}
.subnav li a:hover { color:#eee;}
.subnav li .nav_s{ display:none; position:absolute; top:45px; width:98px; background-color:#0079ac;}
.subnav li .nav_s li a{ font-size:12px; color:#fff;}
.subnav li .nav_s li a:hover{ color:#0079ac; background-color:#eef5f8;}
.subnav .nav_s li{ border-top:1px solid #00a2e6;}
.base_title {width: 1200px;margin: 0 auto;height: 20px;line-height: 20px;color: #333;  }
.base_title a.current {color: #00a3e8;  }
.test-main{width: 1200px;margin: 8px auto 0;  }
.left-div{width:300px;float: left;}
.category-top {position: relative;font-size: 15px;height:50px;line-height: 50px;}
.category-type{width:100%;height:46px;line-height: 46px;background: #00a2e6;font-size: 16px;color:#fff;text-align: center;cursor: pointer;}
.refresh {display: inline-block;width: 52px;height: 22px;cursor: pointer;background: url(../images/refresh.png)no-repeat;margin-top: 8px;  position: absolute;
    right: 0;}
.category-list {padding-bottom: 5px;overflow: auto;}
.tree-parent li {background: url("../images/line.png")8px 1px repeat-y}
.tree-parent .tree-name{height:28px; line-height:28px;}
.tree-parent .tree-icon {float: left; cursor: pointer;display:inline-block;width:18px; height:20px;background:url("../images/jstree.png") no-repeat -54px 4px;}
.tree-parent .tree-txt{float:left;display:inline-block;width:80%;padding-left:21px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:14px;color:#333;background: url("../images/jstree.png") no-repeat 0 -91px; margin-right: 8px;}
.tree-second .tree-icon{background: url("../images/jstree.png") no-repeat -54px 4px;}
.tree-parent>li.active>.tree-name>.tree-icon{background-position: -72px 4px;}
.tree-second.current .tree-icon{background-position: -72px 4px;}
.tree-parent li.active .tree-list{display: block;}
.tree-parent .tree-list,.tree-parent .second-list {padding-left: 24px;display: none;}
.tree-parent .second-list {display: none;}
.tree-parent .tree-list li a,.tree-parent .second-list li a{display:block;height:26px;line-height:26px;padding-left: 16px;font-size:14px;color:#333;background:url(../images/jstree.png) 8px -144px no-repeat;  cursor: pointer;}
.tree-parent .tree-list li.tree-second .tree-name a,.tree-parent .second-list li.tree-second .tree-name a{background: url("../images/jstree.png") no-repeat 0 -91px;}
.tree-parent .tree-list li a.hide,.tree-parent .second-list li a.hide{color:#818181;}
.tree-parent .tree-list li a.hide:hover,.tree-parent .second-list li a.hide:hover{color:#818181;}
.tree-parent .tree-list li a:hover,.tree-parent .second-list li a:hover{color:#00a2e6;}
.tree-list li a.active{color:#00a2e6}
.second-list li a.active{color:#00a2e6}
.tree-parent li:last-child{background: none;}
.right-box{float:right;width:880px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
.test-con{background: #f0f2f2;padding:0 24px 14px;}
.test-name{padding-top: 26px;font-size: 18px;text-align: center;color:#333;font-weight: normal;}
.test-detail{margin-top: 10px;}
.test-detail .det-num{float:left;font-size: 14px;color:#999;}
.test-detail .det-btn{float:right;padding-left:20px;background:url(../images/checkbox.png) no-repeat;font-size: 14px;color:#333;}
.test-detail .det-btn.active{float:right;padding-left:20px;background:url(../images/checked.png) no-repeat;font-size: 14px;color:#333;}
.test-mod{margin-top: 18px;}
.test-mod-tit{font-size: 18px;color:#333;font-weight: normal}
.test-list{margin-top: 10px;}
#show{display: none;}
.test-item{padding: 30px 24px 20px;transition: all 1s;position: relative;overflow: hidden; border-bottom:1px dotted #c0c1c1;font-size:14px;color:#333;-webkit-transition: all 2s;}
.test-item:hover{background:#e2e9e9;}
/*.test-item:hover .show-btn{opacity: 1}*/
.show-btn{position: absolute;top:0;right:0;opacity: 0; filter:alpha(opacity=0);-webkit-transition: all 1s;transition: all 1s}
.show-btn a{padding:7px 16px;display: inline-block;font-size: 14px;color: #fff;background: #ff5774;}
.show-btn a:hover{background: #f43c5c;}
.test-item .test-name{font-size: 14px;}
.test-answer li{margin-top: 12px;}
.answer-ana{display:none;margin-top:20px;padding: 14px;font-size: 14px;color:#717171;background: #fff;-webkit-border-radius:6px;border-radius: 6px;}
.answer-ana i{color: #2076ce;}
.analysis{margin-top:6px;line-height: 26px;}
.statistics{text-align: right;margin-top: 20px;padding-right:24px;font-size: 12px;color:#717171;}
.statistics span{display: inline-block;height:18px;line-height:18px;padding-left:26px;background: url(../images/like.png) no-repeat  14px -20px; }
.statistics .like.active{background-position: 6px 3px;cursor: pointer; }
.statistics .like{margin-left:10px;background-position: 6px -41px;cursor: pointer; }
.main-bottom{margin-top: 12px;}
.main-bottom .add{position: relative}
.main-bottom .add .txt{position: absolute;width:100%;left:0;top:0;height:100%;line-height: 70px;text-align: center;font-size: 20px;color:#685251}
.main-bottom .add img{width: 100%;}
.other{margin-top: 12px;}
.b-left{float: left;width:592px;}
.discuss{overflow: hidden;}
.discuss li{margin-top:14px;background:#eeefef;padding:10px;overflow: hidden;}
.discuss li .pic{float: left;width:44px;height:44px;border:1px solid #d7dad9;padding: 1px;text-align: center}
.discuss li .pic img{width:100%;}
.discuss li .dis-con{float: left;margin-left: 10px;width:500px;}
.discuss li .dis-con .name{color:#2076ce;font-size: 12px;}
.discuss li .dis-con .time{color:#919191;font-size: 12px;}
.dis-txt{font-size: 14px;color:#333;line-height: 24px;}
.b-right{float: right;width:274px;}
.right-name{font-size: 16px;text-align: center;line-height: 46px;height:46px;font-weight: normal;background: #eee;border-left:4px solid #00a2e6;}
.right-list{border:1px solid #ddd;border-top: none;padding-bottom: 26px;overflow: hidden;}
.right-list li a{padding-left:16px;overflow:hidden; background:url(../images/dot.png)no-repeat 2px 6px;text-overflow:ellipsis;white-space:nowrap;font-size: 14px;color:#333;}
.right-list li {margin-top: 14px;padding-left: 18px;}

.show-window{display:none;position:fixed;width:100%;top:0;left:0;right:0;height:100%;background: rgba(0,0,0,0.4);z-index: 999;}
.window-box{width:480px;padding:34px 0 24px;margin: 0 auto 0;right:0;left:0;background: #fff;border:1px solid #bdbdbd;}
.window-box .select{padding: 0 33px;margin-bottom: 20px;}
.window-box .select .name{float:left;font-size: 16px;color:#333;line-height: 30px;}
.window-box .select .list{float:left;font-size: 14px;color:#333;width:80%;}
.window-box .select .list li{float:left;min-width:56px;zoom:1;padding:8px 2px;text-align: center;margin:0 6px ;cursor: pointer;}
.window-box .select .list li.active{color:#fff;background:#00a2e6; }
.btn-list{text-align: center;}
.btn-list .btn{width:68px;height:34px;margin:0 20px;background: #00a2e6;color:#fff;font-size: 14px;border:none;-webkit-border-radius: 3px;border-radius: 3px;font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif}
.btn-list .btn.cancel{background: #999;}
.side-box{position: fixed;top:50%;margin-top:-90px;right:0;background: #fff;}
.side-box .list{width:58px;}
.side-box .list li{position:relative;height:58px;border: 1px solid #cfcfcf}
.side-box .list li .txt{display:none;padding-top:12px;height:100%;cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;position:absolute;top:0;left:0;width:100%;background: #00a2e6;font-size: 14px;color: #fff;text-align: center;}
.side-box .list li .pic{display:block;width:100%;height:100%;background: url(../images/down.png) center center no-repeat}
.side-box .list li.download .pic{display:block;width:100%;height:100%;background: url(../images/edit.png) center center no-repeat}
.side-box .list li.collection .pic{display:block;width:100%;height:100%;background: url(../images/coll.png) center center no-repeat}
.side-box .list li:hover .txt{display:block;}
.side-box .list li.collection .txt{padding-top:0;line-height: 58px;}
.down-window{display:none;position:fixed;width:100%;top:0;left:0;right:0;height:100%;background: rgba(0,0,0,0.4);z-index: 999;}
.down-box{width:856px;padding-bottom:30px;margin:0 auto 0;background: #fff;}
.down-box .header{padding-left:14px;height:36px;line-height: 36px;background:#00a2e6; }
.down-box .header .tit{float: left;color:#fff;font-size: 16px;}
.down-box .header .close{float: right;width:54px;height:36px;background: url(../images/like.png) no-repeat 16px -62px;border:none;}
.down-window .down-item{padding:14px 0 26px; margin:0 20px;border-bottom: 1px dotted #999;}
.down-window .down-item .name{float:left;color:#333;font-size: 14px;}
.down-window .down-item .type{float:left;color:#333;font-size: 14px;}
.down-window .down-item .type-item{margin-top: 13px;}
.down-window  .paper-type{border: none;}
.button-list{margin-top: 26px;}
.down-window .down-item label{padding-left: 18px;line-height:18px;height:18px;background: url(../images/like.png) no-repeat 0 -108px;}
.down-window .down-item label.active{padding-left: 18px;background: url(../images/like.png) no-repeat 0 -136px;}
.down-window  .item .pic{display: block;}
.down-window .paper .type-item{text-align: center}
.down-window  .type-item label{display: block;}
.down-window  .paper .type-item label{display: inline-block;margin-top: 2px;text-align: center}
.down-window .type-item .pic{display: block}
.down-window .type-1 .pic{padding: 10px 0;}
.down-window .paper .type-item{float: left;margin-right: 35px;}
.down-window .down-item input[type=radio]{display: none;}
.down-window .version .name{margin-top:10px;line-height: 60px;}
.down-window .paper .name{margin-top:10px;line-height: 90px;}
.down-window .paper-type .name{margin-top:10px;line-height: 90px;}
.fixed{  top:0;  position: fixed;  z-index: 99;  }
.fixed1{  top:50px;  position: fixed;  z-index: 99;  }
.hide-box{display:none;position: fixed;width:100%;height:100%;top:0;left:0;;background: rgba(0,0,0,0.8);z-index: 999}
.hide-tip{position: absolute;top:50%;z-index: 1000;left:50%;margin-left:-161px;padding-left:34px;width:322px;height:66px;margin-top: -33px;background: #00a2e6 url(../images/hideicon.png) no-repeat 40px center;line-height: 66px;text-align: center;font-size: 18px;color:#fff;-webkit-border-radius: 4px;border-radius: 4px;}
.show-btn a.more{padding: 6px 16px 7px;float: left;}
.show-btn .insert{margin-left:2px;padding: 0;  width:118px;  height:28px;}
.show-btn .addques
{  background-image: url("../images/jrstl.png");  background-position: 0 0;  }
.show-btn .addques:hover
{  background-image: url("../images/jrstl_hover.png");  background-position: 0 0;  cursor: pointer;  }
.show-btn .delques
{  background-image: url("../images/ycstl.png");  background-position: 0 0; }
.show-btn .delques:hover
{ background-image: url("../images/ycstl.png");  cursor: pointer;  }
