html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html {

    font-size: 62.5%;
    font-family: "Microsoft Yahei", "SimSun";
}

.smartCampus {
    width: 720px;
    margin: 0 auto;

}

.header {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    background: #f7fdff;
}

.header .logo {
    padding: 1.8rem 0 1.8rem 2.4rem;
    float: left;
    width: 50%;
}

.header .logo img {
    max-width: 100%;
}

.navList {
    float: right;
    padding: 2.4rem 2.4rem 2.4rem 0;
}

.pageName {
    float: left;
    padding-right: 1.5rem;
    border-right: 1px solid #c9ced1;
    font-size: 3rem;
    color: #0e4f77;
    cursor: default;
}

.navBtn {
    float: right;
    padding-left: 2.4rem;
    cursor: pointer;
}

.navBtn img {
    width: 100%;
}

.header .nav {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    background: #18608c;
    text-align: center;
}

.header .nav a {
    display: block;
    font-size: 3rem;
    color: #fff;
    line-height: 300%;
    border-bottom: 1px solid #3581b0;
    transition: all 0.2s;
}

.header .nav a:hover {
    background: #3581b0;
}

.page-contains {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.page {
    overflow: hidden;
}

.page-table {
    overflow: hidden;
    display: table;
    height: 100%;
    width: 100%;
}

.page-inner {
    padding-top: 86px;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.page-index {
    background: #a1e8ff;
}

.page-index-title {
    width: 67%;
    margin: 0 auto;
}

.page-index-title img {
    width: 100%;
}

.page-des {
    margin: 0 auto;
    width: 89%;
    padding-top: 2rem;
    text-align: center;
}

.page-des img {
    width: 60%;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.page-index .page-des img {
    width: 100%;
    opacity: 1;
    filter: alpha(opacity=100);
}

.page-index-nav {
    position: relative;
    /*    -moz-transform:scale(0.6,0.6);
        -webkit-transform:scale(0.6,0.6);
        -o-transform:scale(0.6,0.6);*/
    width: 80%;
    margin: 5rem auto 0;
    animation: smallToBig 5s;
    -moz-animation: smallToBig 5s; /* Firefox */
    -webkit-animation: smallToBig 5s; /* Safari 和 Chrome */
    -o-animation: smallToBig 5s;
}

.page-index-nav > img {
    width: 100%;
}

.page-index-nav .page-index-icon {
    position: absolute;
    width: auto;
    text-align: center;
    font-family: "Microsoft Yahei", "SimSun";
}

.page-index-nav .index-icon1 {
    top: 5%;
    left: 44%;
}

.page-index-nav .index-icon2 {
    top: 13%;
    left: 63%;
}

.page-index-nav .index-icon3 {
    top: 33%;
    right: 10%;
}

.page-index-nav .index-icon4 {
    bottom: 25%;
    right: 15%;
}

.page-index-nav .index-icon5 {
    bottom: 11%;
    right: 33%;
}

.page-index-nav .index-icon6 {
    bottom: 13%;
    left: 33%;
}

.page-index-nav .index-icon7 {
    bottom: 26%;
    left: 17%;
}

.page-index-nav .index-icon8 {
    top: 32%;
    left: 9%;
}

.page-index-nav .index-icon9 {
    top: 11%;
    left: 22%;
}

.page-index-nav .page-index-icon img {
    max-width: 100%;
}

.page-index-nav .page-index-icon span {
    display: block;
    font-size: 1.6rem;
    color: #fff;
    margin-top: 0.2rem;
    white-space: nowrap;
}

.page-secular {
    position: relative;
    height: 100%;
    background: #ffc000;
    background: -webkit-linear-gradient(top, #ffc000 0%, #ffc000 100%);
    background: -o-linear-gradient(top, #ffc000 0%, #ffc000 100%);
    background: -ms-linear-gradient(top, #ffc000 0%, #ffc000 100%);
    background: linear-gradient(to bottom, #ffc000 0%, #ffc000 100%);
}

.page-secular-des {
    padding-top: 0;
}

.page-secular-tips {
    height: 34%;
    position: relative;
}

.page-secular-tips .page-tip {
    position: absolute;
    /* width: 16.6rem;*/
    width: 27%;
    padding: 2rem 2.4rem 8rem;
    font-size: 2.4rem;
    color: #fff;
    text-align: center;
    background: url(../images/page-secular-tips1.png) no-repeat;
    background-size: contain;
    line-height: 140%;
}

.page-secular-tips .secular-tips1 {
    padding-bottom: 8rem;
    top: 10%;
    left: 13%;
}

.page-secular-tips .secular-tips2 {
    top: 13%;
    right: 7%;
    background: url(../images/page-secular-tips2.png) no-repeat;
    background-size: contain;
}

.page-secular-tips .secular-tips3 {
    width: 22%;
    top: 46%;
    right: 35%;
}

.page-secular-tips .secular-tips4 {
    bottom: -29%;
    left: 6%;

}

.page-secular-tips .secular-tips5 {
    width: 24%;
    bottom: -30%;
    right: 7%;
    background: url(../images/page-secular-tips2.png) no-repeat;
    background-size: contain;
}

.page-secular-down {
    margin: 0 auto;
    width: 68%;
}

.page-secular-down img {
    width: 100%;
}

.page-headmaster {
    background: #ef7350;
    background: -webkit-linear-gradient(top, #ef7350 0%, #ef7350 100%);
    background: -o-linear-gradient(top, #ef7350 0%, #ef7350 100%);
    background: -ms-linear-gradient(top, #ef7350 0%, #ef7350 100%);
    background: linear-gradient(to bottom, #ef7350 0%, #ef7350 100%);
}

.page-headmaster-text {
    padding: 0 4rem;
    margin-top: 6rem;
    text-align: center;
}

.page-headmaster-text img {
    max-width: 100%;
}

.page-headmaster-pic {
    margin-top: -5rem;
    padding: 0 6rem;
    text-align: center;
}

.page-headmaster-pic img {
    max-width: 100%;
}

.page-accounts {
    background: #95d8e9;
}

.page-accounts-text {
    padding-top: 2rem;
}

.page-accounts-text p {
    margin-top: 2.4rem;
    text-align: center;
    color: #1f6b9a;
    font-size: 2.4rem;
}

.page-accounts-pic {
    margin-top: 1rem;
    padding: 0 5rem;
    text-align: center;
}

.page-accounts-pic img {
    max-width: 100%;
}

.page-Office {
    background: #8cbf48;
}

.page-Office-text {
    padding: 1rem 3rem 0;
}

.page-Office-text p {
    position: relative;
    padding-left: 2rem;
    margin-top: 2rem;
    line-height: 150%;
    color: #f2f2f2;
    font-size: 2.4rem;
}

.page-Office-text p .icon-dot {
    position: absolute;
    left: 0;
    top: 0.4rem;
    width: 1rem;
    height: 1rem;
    background: #f2c720;
}

.page-Office-pic {
    padding: 3rem 6rem 0;
    text-align: center;
}

.page-Office-pic img {
    max-width: 100%;
}

.page-teacher {
    position: relative;
    background: #ffe9b9;
    background: -webkit-linear-gradient(top, #ffe9b9 0%, #ffe9b9 83%, #ffcc3e 83%, #ffcc3e 100%);
    background: -o-linear-gradient(top, #ffe9b9 0%, #ffe9b9 83%, #ffcc3e 83%, #ffcc3e 100%);
    background: -ms-linear-gradient(top, #ffe9b9 0%, #ffe9b9 83%, #ffcc3e 83%, #ffcc3e 100%);
    background: linear-gradient(to bottom, #ffe9b9 0%, #ffe9b9 83%, #ffcc3e 83%, #ffcc3e 100%);
}

.page-teacher-text {
    padding: 1rem 3rem 0;
}

.page-teacher-text p {
    position: relative;
    padding-left: 2rem;
    margin-top: 2rem;
    line-height: 150%;
    color: #fbad06;
    font-size: 2.4rem;
}

.page-teacher-text p .icon-dot {
    position: absolute;
    left: 0;
    top: 0.9rem;
    width: 1rem;
    height: 1rem;
    background: #ff8110;
    border-radius: 50%;
}

.page-teacher-pic {
    padding: 3rem 6rem 0;
    text-align: center;
}

.page-teacher-pic img {
    max-width: 100%;
}

.page-headteacher {
    background: #80dbff;
    background: -webkit-linear-gradient(top, #80dbff 0%, #80dbff 83%, #23bae8 83%, #23bae8 100%);
    background: -o-linear-gradient(top, #80dbff 0%, #80dbff 83%, #23bae8 83%, #23bae8 100%);
    background: -ms-linear-gradient(top, #80dbff 0%, #80dbff 83%, #23bae8 83%, #23bae8 100%);
    background: linear-gradient(to bottom, #80dbff 0%, #80dbff 83%, #23bae8 83%, #23bae8 100%);
}

.page-headteacher-text {
    padding: 4rem 6rem;
}

.page-headteacher-text p {
    width: 41.6%;
    margin-top: 3rem;
    padding: 1.8rem 3rem;
    background: rgba(255, 255, 255, 0.3);
    font-size: 2.4rem;
    color: #0c88bf;
    line-height: 130%;
    border-radius: 1rem;
}

.page-headteacher-text p:nth-child(2) {
    margin-top: 6rem;
}

.page-headteacher-text p:nth-child(1), .page-headteacher-text p:nth-child(3) {
    float: left;
}

.page-headteacher-text p:nth-child(2), .page-headteacher-text p:nth-child(4) {
    float: right;
}

.page-headteacher-pic {
    padding: 6rem 6rem 0;
    text-align: center
}

.page-headteacher-pic img {
    max-width: 100%;
}

.page-affair {
    background: #acdde1;
}

.page-affair-text {
    position: relative;
    margin-top: 6rem;
    height: 60%;
    text-align: center;
}

.page-affair-text img {
    width: 83.3%;
    max-width: 100%;
}

.page-affair-text p {
    font-size: 2.4rem;
    color: #2776a7;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
}

.page-affair-text p.item:nth-child(2) {
    top: 3%;
    left: 21%;
}

.page-affair-text p.item:nth-child(3) {
    top: 23%;
    left: 46%;
}

.page-affair-text p.item:nth-child(4) {
    top: 41%;
    right: 41%;
}

.page-affair-text p.item:nth-child(5) {
    top: 53%;
    right: 26%;
}

.page-affair-pic {
    margin-top: -17rem;
    text-align: center;
}

.page-affair-pic img {
    width: 54.7%;
}

.page-student {
    background: #a053ef;
}

.page-student-text {
    padding-left: 4rem;
    padding-top: 5rem;
}

.page-student-text p {
    position: relative;
    padding-left: 3rem;
    margin-top: 3rem;
    font-size: 2.4rem;
    color: #fff;
}

.page-student-text p .icon-dot {
    position: absolute;
    top: 17%;
    left: 0;
    background: #1eb9ae;
    width: 10px;
    height: 10px;

}

.page-student-pic {
    margin-top: 4rem;
    padding: 0 6rem;
    text-align: center;
}

.page-student-pic img {
    max-width: 100%;
}

.page-general {
    background: #f07238;
}

.page-general-text {
    padding-top: 3rem;
}

.page-general-text p {
    margin-top: 3rem;
    font-size: 2.4rem;
    text-align: center;
    color: #fff;
}

.page-general-pic {
    padding: 3rem 6rem 0;
    text-align: center;
}

.page-general-pic img {
    max-width: 100%;
}

.page-down {
    position: relative;
    bottom: -48%;
}

.page-text p {
    opacity: 0;
    filter: alpha(opacity=0);
    position: relative;
}

.page-text p:nth-child(2n) {
    right: 100%;
}

.page-text p:nth-child(2n+1) {
    left: 100%;
}

.page-text-2 {
    opacity: 0;
    filter: alpha(opacity=0);
}

.page-footer {
    background: #a1e8ff;
    padding: 0 2rem;
}

.footer-title {
    padding-top: 4rem;
    font-size: 2.4rem;
    color: #1dafcf;
    text-align: center;
}

.footer-sub {
    margin-top: 2rem;
    font-size: 2rem;
    color: #1dafcf;
    text-align: center;
}

.footer-pic-list {
    padding-top: 2rem;
}
.footer-pic-list li{
    margin-top: 1.2rem;
}
.footer-pic-list a {
    display: block;
}
.footer-pic-list a img{
    display: block;
    width:100%;
}
.footer-text-list {
    margin-top: 1.4rem;
    padding: 2.4rem 0;
    background: #c6ebf7;
}

.footer-text-list a {
    padding-bottom: 1rem;
    display: block;
    font-size: 2rem;
    text-align: center;
    color:#4b4f4c;
}

@media (max-width: 719px) {
    .smartCampus {
        width: 100%;
    }

    .header .nav a {
        font-size: 2rem;
    }

    .pageName {
        font-size: 2rem;
        padding-right: 1rem;
    }

    .navBtn {
        padding-left: 1rem;
        width: 36px;
    }

    .page-secular-tips .page-tip {
        opacity: 0;
        filter: alpha(opacity=0);
        padding: 2rem 1.4rem 6rem;
        font-size: 2rem;
    }
}

@media (max-width: 500px) {
    .header .nav a {
        font-size: 1.6rem;
    }

    .page-index-nav .page-index-icon img {
        width: 3rem
    }

    .page-index-nav .page-index-icon span {
        margin-top: 0.2rem;;
        font-size: 1.2rem;
    }

    .page-secular-tips {
        height: 39%;
    }

    .page-secular-tips .page-tip {
        padding: 1rem 1.4rem 6rem;
        font-size: 1.4rem;
    }

    .page-Office-text {
        padding: 1rem 2rem 0;
    }

    .page-Office-text p {
        margin-top: 1rem;
        font-size: 2rem;
    }

    .page-Office-pic {
        padding: 1rem 5rem 0;
    }

    .page-teacher-text {
        padding: 1rem 2rem 0;
    }

    .page-teacher-text p {
        margin-top: 1rem;
        font-size: 2rem;
    }

    .page-teacher-pic {
        padding: 4rem 5rem 0;
    }

    .page-headteacher-text {
        padding: 2rem 2rem;
    }

    .page-headteacher-text p {
        margin-top: 1rem;
        padding: 1.2rem 1rem;
        font-size: 2rem;
    }

    .page-headteacher-pic {
        padding: 2rem 4rem 0;
    }

    .page-affair-text p {
        font-size: 2rem;
    }

    .page-affair-pic {
        margin-top: -5rem;
    }

    .page-affair-text {
        margin-top: 3rem;
    }

    .page-general-text p {
        font-size: 2rem;
    }
    .footer-title{
        padding-top: 6rem;
        font-size: 2rem;
    }
    .footer-sub{
        margin-top: 1rem;
        font-size: 1.6rem;
    }
}

@media (max-width: 400px) {
    .page-index-nav .page-index-icon img {
        width: 2.5rem
    }

    .page-index-nav .page-index-icon span {
        margin-top: 0.2rem;;
        font-size: 1rem;
    }

    .page-secular-tips {
        height: 42%;
    }

    .page-secular-tips .page-tip {
        padding: 2rem 1.4rem 6rem;
        width: 32%;
    }

    .page-accounts-text p {
        margin-top: 1.4rem;
        font-size: 2.2rem;
    }

    .page-Office-text {
        padding: 1rem 1rem 0;
    }

    .page-Office-text p {
        margin-top: 0.4rem;
        font-size: 1.8rem;
    }

    .page-Office-pic {
        padding: 1rem 4rem 0;
    }

    .page-teacher-text {
        padding: 1rem 1rem 0;
    }

    .page-teacher-text p {
        margin-top: 0.6rem;
        font-size: 2rem;
    }

    .page-teacher-pic {
        padding: 4rem 4rem 0;
    }

    .page-headteacher-text {
        padding: 1rem 2rem;
    }

    .page-headteacher-text p {
        width: 48.6%;
        padding: 0.8rem 1rem;
        font-size: 1.8rem;
    }

    .page-headteacher-pic {
        padding: 2rem 4rem 0;
    }

    .page-headteacher-text p:nth-child(2) {
        margin-top: 3rem;
    }

    .page-affair-text p {
        font-size: 1.6rem;
    }

    .page-affair-text {
        margin-top: 2rem;
    }

    .page-student-text {
        padding-left: 2rem;
        padding-top: 2rem;
    }

    .page-student-text p {
        padding-left: 2rem;
        margin-top: 2rem;
        font-size: 2rem;
    }

    .page-general-text p {
        margin-top: 2rem;
    }

    .footer-title{
        padding-top: 6rem;
        font-size: 1.8rem;
    }
    .footer-sub{
        margin-top: 1rem;
        font-size: 1.4rem;
    }
    .footer-pic-list li {
        margin-top: 0.6rem;
    }
    .footer-text-list {
        margin-top: 1rem;
        padding: 1.4rem 0;
    }
    .footer-text-list a {
        padding-bottom: 0.6rem;
        font-size: 1.4rem;  }
}

@keyframes smallToBig {
    from {
        transform: scale(0.6, 0.6);
    }
    to {
        transform: scale(1, 1);
    }
}

@-moz-keyframes smallToBig /* Firefox */
{
    from {
        -moz-transform: scale(0.6, 0.6);
    }
    to {
        -moz-transform: scale(1, 1);
    }
}

@-webkit-keyframes smallToBig /* Safari 和 Chrome */
{
    from {
        -webkit-transform: scale(0.6, 0.6);
    }
    to {
        -webkit-transform: scale(1, 1);
    }
}

@-o-keyframes smallToBig /* Opera */
{
    from {
        -o-transform: scale(0.6, 0.6);
    }
    to {
        -o-transform: scale(1, 1);
    }
}