html {font-size: 20px;  }
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box; font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;}
html,body{height:100%;}
@media (min-width: 319px) and (max-width: 359px) {
    html {font-size: 12px;}
}
@media (min-width: 360px) and (max-width: 400px) {
    html {font-size: 14px; }
}

@media (min-width: 401px) and (max-width: 441px) {
    html {font-size: 16px;  }
}

@media (min-width: 442px) and (max-width: 600px) {
    html {  font-size: 18px; }
}
@media (min-width: 601px){
    html {font-size: 20px;  }
}
.paper-work{max-width: 750px;margin: 0 auto;}
.paper-tit{padding:0 1.2rem;position:relative;height:4.2rem;line-height: 4.2rem;border-bottom: 1px solid #e5e5e5;}
.paper-tit .tit{font-weight: normal;font-size: 1.2rem;color:#666;}
.paper-tit .num{position:absolute;top:0;right:1.2rem;font-weight: normal;font-size: 1.1rem;color:#666;}
.paper-tit .num .current{font-size: 2rem;color: #2c8aff;}
.question-box{padding: 1.2rem;}
.question-title{font-size: 1.4rem;color:#333;font-weight: normal;line-height: 140%;}
.answer-list{font-size: 1.2rem;}
.answer-list li{margin-top:2rem;height:3rem;line-height:3rem;font-size: 1.4rem;}
.answer-list li label{height:3rem;line-height:3rem;display: block;}
.answer-list li label .icon{display:inline-block;width:3rem;text-align:center;height:3rem;color:#3690ff;line-height:2.5rem;border:2px solid #3690ff;-webkit-border-radius:100%;-moz-border-radius:100%;  -ms-border-radius:100%;  border-radius:100%;}
.answer-list li label .txt{padding-left:0.7rem;height:3rem;line-height:3rem;display: inline-block;}
.question-analytic{margin-top: 2rem;padding-bottom: 4rem;}
.look-analytic{text-align: right;border-bottom:1px solid #e5e5e5;}
.look-analytic .btn{padding-left:1.5rem;width:9rem;height:2.5rem;border:none;font-size: 1.2rem;color:#fff;background: #2c8aff url(../images/look-more.png) 0.8rem center no-repeat;background-size:16px 16px; }
.analytic{margin-top: 1.2rem;}
.analytic .tit{display: block;color:#999;font-size: 1.3rem;}
.analytic p{color:#333;font-size: 1.3rem;line-height: 160%;font-family:'Georgia','Arial'; }
.answer-btn{position: fixed;display:flex;display:-webkit-flex;bottom:0;width:100%;left:0;right:0;}
.answer-btn .btn{width:50%;height:4rem;background: #0068ea;color:#fff;font-size: 1.4rem;border: none;}
.answer-btn .btn i{margin-right:0.5rem;display:inline-block;width:3rem;height:3rem;background: #fff;color:#2c8aff;font-size: 1.4rem;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;line-height:3rem;}
.answer-btn .wrong{background: #f52525;}
.answer-btn .wrong i{color: #f52525;}

/*收藏页面*/
.header .coll-type{display:flex;display:-webkit-flex;width:16rem;margin: 1rem auto 0;overflow:hidden;height:2.5rem;-webkit-border-radius:1.2rem;border-radius:1.2rem;}
.header .coll-type li{width:50%;height:2.5rem;line-height:2.5rem;}
.header .coll-type li a{display: block;color:#2c8aff;font-size: 1.5rem;background: #fff;}
.header .coll-type li.active a{background:#0068ea;color:#fff;}
.coll-list{}
.coll-list .coll-item{position:relative;border-bottom:1px solid #e5e5e5;}
.coll-list .coll-item .coll-con{display:flex;display:-webkit-flex;justify-content:flex-start;height:100%;position:absolute;top:0;left:0;width:100%;padding: 1rem 0 1rem 1.4rem;background: #fff;}
.coll-list .coll-con .txt{padding-left:0.9rem;width:22.5rem;}
.coll-list .coll-con .name{font-size: 1.2rem;line-height:158%;color:#333;font-weight: normal;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.coll-list .coll-con .address{display: block;padding-left:1.1rem;font-size: 1.1rem;line-height:158%;color:#666;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;background: url(../images/location.png) no-repeat 0 center;background-size: 12px 16px;}
.coll-list .coll-con .num{display: block;font-size: 1.1rem;color:#666;line-height:160%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.coll-list .coll-con .num .tip{color:#f52525;}
.coll-list .coll-con .pic{width:12.4rem;overflow: hidden;}
.coll-list .coll-con .pic img{width:100%;display: block;}
.coll-list .coll-item .del-btn{display:block;text-align:right;}
.coll-list .coll-item .del-btn .txt{display:inline-block;width:7.6rem;}
.coll-list .coll-item .del-btn .txt img{width:100%;}

/*每周练习*/
.test-result{margin: 0 auto;max-width:750px;background: #efeff4;}
.result-rate{position:relative;height:10rem;background: #2c8aff;}
.result-rate .line{padding-top: 4rem; }
.result-rate .line img{width:100%;}
.circle-rate{position: absolute;left:1rem;top:0;width:16rem;height:16rem;-webkit-border-radius:100%;border-radius:100%;background: #2c8aff;}
:root {  background: #fff;  }
#procent {display: block; position: absolute; left: 50%;  top: 50%;  font-size: 3rem;  transform: translate(-50%, -50%);  color: #ffffff;  }
#procent::after {  content: '%'; font-size: 1rem; }
.canvas-wrap {  position: relative;margin: 1.5rem;  width: 13rem;  height: 13rem;  }
.result-num{height:8rem;background: #fff;}
.result-type {width:45%;display:block;margin-left: auto;overflow: hidden;}
.result-type .result-item {display:block;padding-left:2.3rem;margin-top: 0.9rem;font-size: 1.5rem;color:#666;background: url(../images/result-right.png) no-repeat 0 80%;background-size: 20px 20px;}
.result-type .result-item.wrong {background: url(../images/result-wrong.png) no-repeat 0 80%;background-size: 20px 20px;}
.result-type .result-item  i{font-size: 2rem;}
.question-show{margin-top: 1rem;background: #fff;}
.question-show .question-icon{display:block;padding:0.9rem 1rem 0.9rem 3rem;border-bottom:1px solid #e6e6e6;line-height:140%;font-size: 1.1rem;color:#999;background: url(../images/result-warn.png) 1rem 0.9rem no-repeat;background-size: 18px 18px;}
.question-list{padding-bottom: 2rem;display: flex;display: -webkit-flex;flex-wrap: wrap;}
.question-list li{width:20%;margin-top:2rem; }
.question-list li a{display:block;margin:0 auto;width:3rem;height:3rem;text-align: center;line-height: 3rem;color:#fff;font-size: 1.4rem;background: #2c8aff;-webkit-border-radius:100%;  -moz-border-radius:100%;  border-radius:100%;}
.question-list li.wrong a{background: #fc4343;}
.look-result{position:fixed;bottom:0;left:0;width:100%;height:4rem;line-height:4rem;text-align:center;background: #2c8aff;}
.look-result a{display: block;padding-left:3rem;color:#fff;font-size: 1.5rem;background: url(../images/look-result.png) no-repeat 38% center;background-size: 21px 22px;}

/*答案解析*/