*{margin:0;padding:0;border:0;font:inherit;}
h1 { font-size: 2.4rem;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
input,textarea{outline:0;resize:none;}
html,body{ height:100%; width:100%; font-size:14px;}
img{ border:none;}
.fl{ float:left;}
.fr{ float:right;}
ul,li,ol {list-style:none;}
em,i {font-style:normal;}
a {text-decoration:none; color:inherit;}
h1,h2,h3,h4,h5{ font-weight:normal;}
input,textarea,select {font-size:100%; font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;}
pre{ white-space:pre-wrap; white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap; word-wrap:break-word;}
.clearfix:after { content:".";display:block; height:0;clear:both;overflow:hidden;}
.clearfix { clear:both;  zoom:1;}
html{font-size:62.5%;}
@media only screen and (min-width:480px){
  html{font-size:94%!important;}
}
@media only screen and (min-width:560px){
  html{font-size:109%!important;}
}
@media only screen and (min-width:640px){
  html{font-size:125%!important;}
  body{max-width:640px;}
}
body {min-width:320px;margin:0 auto;font-size:1.4rem;color:#333;background-color: #fff;font-family:"Microsoft YaHei","Helvetica Neue", Helvetica, STHeiTi, sans-serif;}
button,input,select,textarea{font:inherit;border:0;outline:0;-webkit-appearance:none;}
.flex-cont{ display: -webkit-flex; display: flex;-webkit-align-items: center;align-items: center;display: -webkit-box; -webkit-box-align: center;}
.flex-item{-webkit-flex: 1; flex: 1; -webkit-box-flex: 1; -moz-box-flex: 1; -ms-flex: 1;   }
.header{position:relative;width:100%;height:4.4rem; line-height:4.4rem;background:#2c8aff; text-align:center; color:#fff; font-size:1.8rem; z-index:3;}
.bk-icon{ width:2.3rem; height:2.2rem; display:inline-block; background:url(../images/bk.png) no-repeat; background-size:2.3rem 2.2rem; position:absolute; top:50%; margin-top:-1.1rem; left:1.5rem;}
.side-icon{ width:2.3rem; height:0.6rem; background:url(../images/side-icon.png) no-repeat; background-size:2.3rem 0.6rem; position:absolute; top:50%; margin-top:-0.3rem; right:1.5rem;}
.side-nav{height:0;overflow-y: hidden; background-color:#f7f7f7; font-size:1.4rem; color:#666; position:absolute; right:0; top:4.4rem; z-index:3; line-height:4rem; text-align:left; }
.side-nav li{ padding:0 1.5rem 0 3.8rem;}
.side-nav li.col-icon{ background:url(../images/col-icon.png) 1.6rem center no-repeat; background-size:1.5rem 1.4rem; border-bottom:1px solid #e6e6e6;}
.side-nav li.ck-icon{ background:url(../images/ck-icon.png) 1.6rem center no-repeat; background-size:1.4rem 1.5rem;}
.side-nav .arrow-icon{ width:1.1rem; height:0.6rem; padding:0;background:url(../images/arrow-icon.png) no-repeat; background-size:1.1rem 0.6rem; position:absolute; top:-0.6rem; right:2.1rem;}
.nav li{float: left;display:inline-block;margin-top:1rem;width:25%;text-align:center; font-size:1.4rem; line-height:3.3rem;}
.nav li img{width:53.5%; }
.nav li p{ margin-top:-1rem; margin-bottom:1rem;}
.banner img{ width:100%;}
.title{ padding:0 1.5rem; line-height:4.2rem; font-size:1.6rem;}
.title a{ float:right; color:#666; font-size:1.3rem;}
.title span.hot-sc{ padding-left:1.8rem; background:url(../images/hot.png) no-repeat; background-size:1.5rem 1.9rem;}
.title .more{ padding-right:1rem; background:url(../images/more.png) right center no-repeat; background-size:0.6rem 1.05rem;}
.title span.hot-sj{ padding-left:1.8rem; background:url(../images/hotsj.png) left center no-repeat; background-size:1.55rem 1.9rem;}
.list{ padding:0 1rem;}
.list li{ float:left; width:50%; margin-bottom:0.5rem; text-align:center; font-size:1.4rem;}
.list li a{ display:inline-block; width:92%; font-size:1.2rem; text-align:left; position:relative;}
.list li a img{ float:left; width:100%;}
.list li a .lct{ float:right;}
.list li .cover{ position:absolute; width:100%; height:1.7rem; line-height:1.7rem; bottom:3rem; left:0; font-size:1.3rem; text-indent:0.5rem; color:#fff;background-color: rgba(0, 0, 0, .5);}
.list li p{ width:100%; height:3rem; line-height:3rem; font-size:1.3rem; color:#666;}
.list li p span i{ font-style:normal; color:#f52525;}
.list li p span.lct{ padding-left:1.3rem; background:url(../images/location.png) left center no-repeat;  background-size:1rem 1.2rem;}
.bor-bt{ border-bottom:1px solid #e5e5e5;}
.txt-list{ font-size:1.5rem;}
.txt-list li{ padding:1.3rem 1.5rem 1.2rem; line-height:2.7rem; border-bottom:1px solid #f2f2f2; }
.txt-list li p span{ color:#2b8afe; margin-right:1rem;}
.txt-list li .sub{ font-size:1.3rem; color:#999;}
.sep{ height:1rem; background-color:#efeff4;}
.txt-list li a p{ width:100%;text-overflow:ellipsis;white-space:nowrap; overflow:hidden;}
.txt-list li .sub .per-num{ padding-left:1.7rem; margin-right:1.5rem; background:url(../images/per-icon.png) left center no-repeat; background-size:1.4rem 1.3rem;}
.txt-list li .sub .up-time{ padding-left:1.7rem; background:url(../images/time-icon.png) left center no-repeat; background-size:1.3rem 1.3rem;}
/*list page*/
.school-pt{ position:relative; z-index:2;}
.school-pt img{ float:left; width:100%; height:10rem;}
.school-pt div{ width:100%; height:10rem; line-height:10rem; font-size:2rem; color:#fff; text-align:center;background-color: rgba(0, 0, 0, .45); position:absolute; top:0; left:0;}
.select{ height:4.4rem; border-bottom:1px solid #e5e5e5; position:relative; background:url(../images/sline.png) #fff center no-repeat; background-size:0.1rem 1.9rem; z-index:2;}
.slt-area{float:left; width:50%; text-align:center; line-height:4.4rem}
.slt-area span{ padding-right:1.5rem;  background:url(../images/select-icon.png) right center no-repeat; background-size:0.8rem 0.5rem;}
.slt-area ul{ display:none; width:100%; text-align:left; position:absolute; top:4.4rem; left:0; z-index:2;border-top:1px solid #e5e5e5; background-color:#f7f7f7;}
.slt-area.active span{color:#2d8aff; background:url(../images/select-on.png) right center no-repeat; background-size:0.8rem 0.5rem;}
.slt-area.active ul{ display:block;height: 0;overflow-y: hidden;}
.pdtp15{ padding-top:1.5rem;}
.slt-area ul li{ border-bottom:1px solid #e6e6e6; text-indent:3.4rem; line-height:3.5rem;}
.slt-area ul li.active{ color:#2c8aff; background:url(../images/right-icon.png) #fff 1.4rem center no-repeat;background-size:0.9rem 0.7rem;}
.overlay{ display:none;width:100%; height:100%; position:fixed;background-color: rgba(0, 0, 0, .45); top:0;left:0; z-index:1;}
.slt-area ul.slt-area-list{display: block;overflow-y: hidden;height:0;}
/*头部下拉*/
.select{position: relative}
.slt-area{}
.slt-area-1.slt-area .slt-list li{border-bottom:1px solid #e5e5e5;}
.slt-area .slt-list{display: block;height:0;width:100%;overflow-y:hidden;position:absolute;}
.slt-area .slt-list li{display: block;border:none;}
.slt-area .slt-list li.active .name,.slt-area-1 .slt-list li.active{background: #fff;border-right:none;color:#2c8aff;}
.slt-area .slt-list li .name{display:block;height:33%;padding-right:0;text-align:left;border-bottom:1px solid #e5e5e5;background: #f7f7f7 url(../images/more.png)no-repeat 90% center;background-size:8px 14px;border-right:1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;line-height:3.5rem;width:10.3rem;font-size: 1.4rem;}
.slt-area .slt-list .slt-second-list{display:block;height:0;overflow-y:hidden;position: absolute;top:-1px;left:33%;width:67%;}
.slt-area .slt-list .slt-second-list li{background: #fff;border-bottom:1px solid #e5e5e5;color:#333;}
.slt-area .slt-list .slt-second-list li.active{background: #fff url(../images/right-icon.png) no-repeat 1rem center;color:#2c8aff;background-size: 12px 8px}
.shadow{display:none;position: fixed;top:0;right:0;left:0;width:100%;background: rgba(0,0,0,0.6);height:100%;}
.side-nav li.col-icon.clicked{background: url(../images/col-icon-clicked.png) 1.6rem center no-repeat; background-size: 1.5rem 1.4rem;}

/*school-profile*/
.school-profile{padding:1rem 1rem;font-size: 1.3rem;line-height: 180%;}
.school-profile-title{padding:1rem 0;text-align: center;font-size: 1.5rem;}